.game-btns {
	height: 100px;
}

#grn {
	background-color: green;
}

#red {
	background-color: red;
}

#ylw {
	background-color: yellow;
}

#blu {
	background-color: blue;
}

.selectGrn {

}

.selectRed {

}

.selectYlw {

}

.selectBlu {

}